html, body{    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'baloo 2', cursive;
}

h1{
    font-size: 40px;
    color: #fff;
}



p{
    color: #fff;
}

a{
    text-decoration: none;
    color: #115035;
}
.cancel{
    color: #fff;
    text-align: center;

}

/* Other CSS styles */

input,
textarea,
select {
  width: 100%;
  background-color: #141824;
  outline: none;
  border: none;
  color: #fff;
}
input,
select {
  width: 100%;
  height: 2rem; /* Adjust the height as needed */
  background-color: #141824;
  border: none;
  outline: none;
}

.bf-col-6 {
    width: 48%;
    margin-right: 2%; /* Adjust the margin as needed */
  }
  
  .bf-col-12 {
    width: 100%;
    margin-right: 0; /* Remove the margin for full-width column */
  }
  /* Other CSS styles */

.bf-body-box{
    padding: 5px;
}
.bf-row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.bf-head, .bf-footer{
    background-color: #141824;
    padding: 10px 5px;
}


.bf-head p{
    color:#115035
}

.bf-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 20px 16px;
    background-color: #1d2228;
    margin: 0%;
}


.bf-body{
    width: 500px;
    background-color: #1d1d2c;
}